html {
    background-color: #2B2D42;
    color: black;
    

    font-family: 'Roboto Slab', serif;
    font-size: 1.8em;
    line-height: 1.6;
}


* {
    margin: 0 auto;
    text-align: center;
}
h1 {
    background-color: #E7DECD;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
background-color: #E7DECD;


}

li {
    display: inline-block;
    float: inherit;
}

li a:hover {
    
    
    background-color: #ffffff;
}

a {
    display: block;
    padding: 6px;
   text-decoration: none;
    font-size: 0.5em;
    color:#3e3e88;
}

.center {
    
    top:100px; 
    background-color: 
    
}

.text {
    
    color:#2B2D42
}

h2  {
    
    color: azure
    
}



div.julian {
    
    font-size:15px;
    clear:right;
    padding: 10px 70px;
    
}


@font-face {
    
    Font-family: Linky font;
    src: url(great-vibes)
}
    
.rainbow {
    
    
    font-family: "Times New Roman", Times, serif;
}

.julian {
    
    font-family: 'Times New Roman', serif;
}

.selfie{
    
    font-size:15px
}


div.collage {
    
    font-size:15px;
    clear:right;
    padding: 10px 70px;
    
}

div.text {
    
    font-size:15px;
    clear:right;
    padding: 10px 40px;
    line-height: 1.6;

    
}

.dslr {
    font-size:15px;
    padding: 10px 40px;

}

.animate {
    
     font-family: 'Roboto Slab', serif;
    font-size: 15px;
letter-spacing: 2px;
}

